.cost-statistic {
  &__wrapper {
    padding: 0 8px 16px;
    background: white;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
  }

  &__container {
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
  }

  &__item {
    display: flex;
    flex-direction: column;

    &-title {
      font-weight: bold;
    }

    &-value {

    }
  }
}