.widget-container {
  &__container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    padding: 8px 16px 32px;
    height: 100%;
    background: white;
    flex: 0 0 48%;
    max-width: 48%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: scroll;
  }
}