@import (reference) '../../styles';

.@{ant-prefix}-coins-balance {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &-label {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
