.info-item {
  &__container {
    display: flex;
    margin-top: 8px;
  }

  &-title {
    font-weight: bold;
    width: 200px;
    flex-shrink: 0;
  }

  &__value {
    overflow: hidden;
    overflow-wrap: break-word;
  }
}