.login-form {
  &__container {
    width: 400px;
    padding: 24px !important;
    background: white;
    border-radius: 8px;
  }

  &__forget {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
  }

  &__login-form-forgot {
    float: right;
  }

  .login-form-forgot {
    float: left;
  }

  &__form-button {
    width: 100%;
  }
}
