@import (reference) '../../styles';

.@{ant-prefix}-container-popover {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  background-color: @white;
  z-index: 1;
  transition: translate;

  &_is-hidden {
    display: none;
  }

  &_direction {
    &_rl {
      animation: 0.25s r-to-l ease-out;
    }
    &_bt {
      animation: 0.25s b-to-t ease-out;
    }
    &_tb {
      animation: 0.25s t-to-b ease-out;
    }
    &_lr {
      animation: 0.25s l-to-r ease-out;
    }
  }
}

@keyframes r-to-l {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes l-to-r {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes b-to-t {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes t-to-b {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

