.ad-companies {
  &__toolbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__container {
    display: flex;
    flex-grow: 1;
    background: white;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 8px;
    margin-top: 32px;

    .ant-table-wrapper {
      width: 100%;
    }

    .ant-table-thead {
      .ant-table-cell {
        font-weight: bold;
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__item {
    width: 100%;
    min-height: 689px;
  }

  &__video-wrapper {
    width: 30%;
    transform: scale(.85);
  }

  &__video-info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }

  &__info-name {
    font-weight: 600;
    margin-right: 4px;
  }

  &__no-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;

    &-title {
      margin-top: 32px;
    }
  }

  &__create-modal {
    .ant-modal-footer {
      display: none;
    }
  }
}
