@import (reference) '../../styles';

.@{ant-prefix}-page-ads-campaigns {
  padding: 8px 8px;
  position: relative;

  &-background {
    width: calc(100% + 8px);
    height: 100%;
    position: absolute;
    left: -8px;
    z-index: -1;
    top: 60px;

    &_color {
      &_purple {
        background: linear-gradient(180deg, #DECBFF 48.5%, rgba(209, 173, 226, 0) 100%);
      }

      &_blue {
        background: linear-gradient(180deg, #B8E4FF 56.07%, rgba(176, 225, 255, 0) 100%);
      }

      &_cyan {
        background: linear-gradient(180deg, rgba(37, 196, 189, 0.3) 58.89%, rgba(0, 195, 204, 0) 100%);
      }
    }
  }

  &-ads-container {
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
