.statistic {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    height: auto;
    background: white;
    margin-bottom: 32px;
    margin-top: 32px;
    border-radius: 8px;

    .ant-descriptions-item-label {
      font-weight: 600;
      font-size: 20px;
    }

    .ant-descriptions-item-container {
      font-size: 20px !important;
    }

    .ant-descriptions-item-content {
      font-size: 20px !important;
    }

    .ant-descriptions-title {
      font-size: 28px;
    }
  }
}