.profile-page {
  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 46px;
    height: calc(100vh - 67px);
    max-width: 1400px;
    align-self: center;
    width: 100%;
    background: white;
  }

  &__item-profile-wrapper {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
  }

  &__item-profile-p-label {
    display: inline-block;
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.85);
  }

  &__heatmap-wrapper {
    width: 66%;
    height: auto;
  }

  &__profile-info {
    display: flex;
    flex-direction: column;
  }

  &__activity-info {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &-item {
      flex: 1;

      &:first-child {
        margin-right: 16px;
      }
    }
  }

  &__list-wrapper {

  }
}