.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    height: 62px;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }

  &__buttons-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
  }

  &__profile-info {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }

  &__profile-name {
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;

    &:hover {
      color: white !important;
    }
  }

  &__sign-in {
  }
}
