@import (reference) '../../styles';

.@{ant-prefix}-ad-campaign-card {
  border-radius: 8px;
  border: 1px solid @primary-color;
  display: flex;
  flex-direction: column;
  background-color: @white;
  &_color {
    &_blue {
      border: 1px solid @blue-base;
    }
    &_cyan {
      border: 1px solid @cyan-base;
    }
    &_purple {
      border: 1px solid @purple-base;
    }
  }

  &-brand-info, &-brief-info, &-timer, &-actions {
    padding: 8px;
  }

  &-brand-info {
    height: 36px;
    display: flex;
    justify-content: space-between;
  }
  &-brief-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 12px 8px;
    background-color: @purple-5;
  }
  &-brief-link {
    display: inline-flex;
    align-items: normal;
  }
  &-timer {
    height: 40px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 8px;

    h3 {
      color: @primary-color;
    }
  }
  &-pending-footer {
    h4 {
      color: @primary-color;
      text-align: center;
    }
  }
  &-actions {
    display: flex;
    gap: 8px;
  }
  &-confirm-button, &-reject-button {
    height: 52px;
  }

  &-reject-button {
    flex: 1 1;
  }
  &-confirm-button {
    flex: 2 2;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-subtext {
      font-size: 10px;
    }
  }

  &-link-form {
    padding: 0 8px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
