@cert-background-color: #fff;
@cert-theme-color: #d015ed;
@cert-border-color: @cert-theme-color;
@cert-heading-color: #8e0fa2;
@cert-link-color: #0069b5;
@cert-placeholder-color: rgba(@cert-theme-color, 0.4);
@cert-delimeter-border-color: rgba(#000, 0.1);

.lead-form-wrapper {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 40px;
  background-color: @cert-background-color;
  box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &__heading {
    .ant-typography {
      color: @cert-heading-color;
      font-weight: bolder;
    }

    margin-bottom: 40px;

    a {
      color: @cert-link-color;

      &:hover {
        color: rgba(@cert-link-color, 0.9);
      }
    }
  }

  &__inputs {
    > div:first-child {
      margin-bottom: 16px;
    }

    .ant-input {
      color: @cert-theme-color;
      border-bottom: 1px solid @cert-delimeter-border-color;

      &::placeholder {
        color: @cert-placeholder-color;
      }
    }

    margin-bottom: 32px;
  }

  &__footer {
    .ant-btn-primary {
      background: @cert-theme-color;
      border-color: @cert-theme-color;
      border-radius: 32px;
      height: 56px;
      font-weight: bold;
      padding: 16px 32px;
    }

    a {
      color: @cert-theme-color;
    }
  }
}


// Мобильная верстка
@media only screen and (max-width: 768px) {
  .lead-form-wrapper {
    &__heading {
      //background-color: @cert-theme-color;
    }
  }
}


// Десктоп
@media only screen and (min-width: 768px) {
  .lead-form-wrapper {
    width: 600px;
    height: fit-content;
    border: 16px solid @cert-border-color;

    &__heading {
      text-align: center;
    }
  }
}
