@import (reference) '../../styles';

.@{ant-prefix}-button-group-toggler {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  padding: 2px;
  box-shadow: 0px 4px 10px rgba(142, 79, 255, 0.2);
  border-radius: 8px;

  & > * {
    flex: 1 1;
  }

  &-button {
    border-radius: 4px;
  }

  .@{ant-prefix}-btn {
    &-primary {
      .button-variant-primary(@btn-primary-color; @cyan-base; @cyan-base; @cyan-base);
    }
  }

  &-badge {
    .ant-badge-count {
      color: @white;
      background-color: @cyan-base;
    }

    &_active {
      color: @white;

      .ant-badge-count {
        color: @cyan-base;
        background-color: @white;
      }
    }
  }
}
