.balance {
  &__container {
    width: 100%;
    display: flex;
    padding: 8px 16px;
    align-items: center;
    background: white;
    margin-bottom: 32px;
    margin-top: 32px;
    border-radius: 8px;

    .ant-descriptions-item-label {
      font-weight: 600;
    }

    .ant-descriptions-title {
      font-size: 24px;
    }

    .ant-descriptions {
      margin-left: 16px;
    }

    .ant-descriptions-view {
      overflow: visible;
    }
  }

  &__value {
    display: flex;
    font-size: 22px;
    align-items: center;

    &-balance {
      font-weight: bold;
      margin-right: 4px;
    }
  }
}