.initial-form {
  &__content {
    height: calc(100vh - 67px);
    margin: 0;
    align-self: center;
    width: 100%;
    //background: white;

    .ant-upload {
      background: rgba(130, 76, 151, 0.1);
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 36px 46px 16px;
    height: calc(100vh - 67px);
    max-width: 1400px;
    align-self: center;
    width: 100%;
    margin: auto;
    background: white;
  }

  &__form-content {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    &-title {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 64px 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 16px 0;
  }

  &__upload-drag-icon {
    font-size: 64px;
  }

  &__file-uploaded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(130, 76, 151, 0.3);

    border: 1px dashed #d9d9d9;
    height: 194px;
  }

  &__file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
  }

  &__file-name-container {
    display: flex;
  }

  &__remove-button {
    font-size: 24px;
    margin-left: 8px;
    margin-top: 2px;
    cursor: pointer;
  }
}