.card-menu {
  &__container {
    border: 2px solid #f0f0f0;
    border-radius: 4px;

    .ant-menu-item {
      height: 28px !important;
      line-height: 28px !important;
      margin: 0 !important;
      font-weight: 500;

      a:hover {
        color: white;
      }

      &-active {
        background: #824c97;
        color: white !important;
      }
    }
  }
}

.card {
  &__actions {
    &-wrapper {
      font-size: 20px;
      margin-left: 12px;
      cursor: pointer;
    }
  }
}