.ad-company-info {
  &__container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__title {
    margin: 8px 0;
  }

  &__buttons-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    align-items: flex-end;
  }

  &__button {
    flex-grow: 1;
  }
}