.ad-company {
  &__container {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
    align-items: center;

    &-item {
      display: flex;
      width: 100%;
      margin-top: 24px;
      max-width: 1400px;
      align-self: center;
      justify-content: space-between;

      &._widget {
        height: 432px;
      }
    }

  }
}