.contacts {
  &__container {
    width: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background: white;
    margin-bottom: 32px;
    margin-top: 32px;
    border-radius: 8px;
  }
}