.tiktok {
  &__spin {
    height: 658px;
    margin-top: 18px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(130, 76, 151, 0.1);
    border-radius: 8px;
    border: 1px solid rgba(22, 24, 35, 0.12);
  }
}