.main-page {

  &__button-wrapper {
    padding: 16px 0 0 0;
  }

  &__content {
    height: 100%;
    margin: 0;
    overflow: scroll;
    align-self: center;
    width: 100%;
    //background: white;

    &-container {
      display: flex;
      flex-direction: column;
      padding: 8px 46px;
      height: calc(100vh - 67px);
      max-width: 1400px;
      align-self: center;
      width: 100%;
      margin: auto;
    }
  }
}
