.color-legend {

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__items-container {
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;

    &-color {
      width: 20px;
      height: 20px;
      margin-right: 8px;
    }

    &-name {
      font-size: 16px;
      font-weight: 500;
    }
  }
}