.registration-page {
  &__container {
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 200px;
  }
}