.leads-table {
  &__comment-column {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-value {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: keep-all;
    }

    &-button {
      cursor: pointer;
      margin-left: 4px;
    }
  }
}